[package]
name = "royalguard"
version = "0.1.0"
edition = "2021"
authors = ["Zahash <zahash.z@gmail.com>"]
description = "Royal Guard!"
license = "MIT"
repository = "https://github.com/zahash/royalguard"


[dependencies]
regex = { version = "1" }
lazy_static = { version = "1" }
rustyline = { version = "12" }
uuid = { version = "1", features = ["v4"] }


[dev-dependencies]
pretty_assertions = { version = "1" }
